{#
    PBLive
    Copyright © 2017  RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'question.html' %}

{% block base %}
	{% set answerinput %}
		<div class="ui input">
			<input type="text" id="answer" name="answer" value="{{ user.answers[question_num] }}">
		</div>
	{% endset %}
	<div>{{ session.questions[question_num].answer_form.replace('$1', answerinput)|safe }}</div>
	{% if session.questions[question_num].answer_type %}
		<div class="ui hidden error message">
			<div class="header">
				{% if session.questions[question_num].answer_range %}
					{% if session.questions[question_num].answer_range[0] is not none and session.questions[question_num].answer_range[1] is not none %}
						Please enter a {{ session.questions[question_num].answer_type }} between {{ session.questions[question_num].answer_range[0] }} and {{ session.questions[question_num].answer_range[1] }}.
					{% elif session.questions[question_num].answer_range[0] is not none %}
						Please enter a {{ session.questions[question_num].answer_type }} greater than {{ session.questions[question_num].answer_range[0] }}.
					{% else %}
						Please enter a {{ session.questions[question_num].answer_type }} less than {{ session.questions[question_num].answer_range[1] }}.
					{% endif %}
				{% else %}
					Please enter a {{ session.questions[question_num].answer_type }}.
				{% endif %}
			</div>
		</div>
	{% endif %}
	
	<script>
		var submitAnswerTimer = 0;
		function submitAnswer() {
			socket.emit('answer', {{ question_num }}, $('#answer').val());
		}
		$('#answer').on('input', function() {
			window.clearTimeout(submitAnswerTimer);
			// Validate input
			{% if session.questions[question_num].answer_type == 'number' %}
				isValid = $.isNumeric($('#answer').val());
				{% if session.questions[question_num].answer_range %}
					{% if session.questions[question_num].answer_range[0] is not none %}
						isValid = isValid && parseFloat($('#answer').val()) >= {{ session.questions[question_num].answer_range[0] }};
					{% endif %}
					{% if session.questions[question_num].answer_range[1] is not none %}
						isValid = isValid && parseFloat($('#answer').val()) <= {{ session.questions[question_num].answer_range[1] }};
					{% endif %}
				{% endif %}
			{% else %}
				isValid = true;
			{% endif %}
			if (isValid) {
				$('.message').addClass('hidden');
				submitAnswerTimer = window.setTimeout(submitAnswer, 500);
			} else {
				$('.message').removeClass('hidden');
			}
		});
	</script>
{% endblock %}
