{#
    PBLive
    Copyright © 2017  RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% block prompt %}
	{% if session.questions[question_num].prompt %}
		<p><b>{{ session.questions[question_num].prompt }}</b></p>
	{% endif %}
	
	{% if session.questions[question_num].image %}
		<p style="text-align: center;"><img src="{{ url_for('image', location=session.questions[question_num].image) }}" style="width: 100%; max-height: 100%;"></p>
	{% endif %}
{% endblock prompt %}

{% block base %}
{% endblock base %}

<p>
	{% block footmatter %}
		Total responses: {{ data.responses_for_question(session, question_num) }}
		{% if session.questions[question_num].revealed %}
		{% else %}
			<button class="ui primary button" onclick="socket.emit('reveal_answers', {{ question_num }});">Reveal responses</button>
		{% endif %}
	{% endblock %}
	{% if question_num < session.questions|length - 1 %}
		<button class="ui button" onclick="socket.emit('goto_question', {{ question_num + 1 }});">Next question</button>
	{% endif %}
</p>
