{#
    PBLive
    Copyright © 2017  RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'question_admin.html' %}

{% block base %}
	<h1 class="ui dividing header">On your marks…</h1>
	
	<p style="text-align: center;">Open the following address in your browser, and choose <i>{{ session.title }}</i>:</p>
	<p style="text-align: center; font-family: monospace; font-size: xx-large;">http://{{ data.server_ip }}:5000</p>
	<p style="text-align: center;">Or scan the following QR code:</p>
	
	<div id="qrcode" style="text-align: center; margin-bottom: 1em;"></div>
	
	<script src="{{ url_for('static', filename='vendor/qrcode-js/qrcode.min.js') }}"></script>
	<script>
		new QRCode(document.getElementById('qrcode'), 'http://{{ data.server_ip }}:5000/session/{{ session.name }}');
	</script>
{% endblock base %}

{% block footmatter %}{% endblock %}
