{#
    PBLive
    Copyright © 2017  RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% if user.sid in data.users %}
	<div>YOU:</div>
	<div><button class="ui button" style="background-color: {{ user.colour[1] }}; width: 32px; height: 32px; padding: 0 0;">{{ user.colour[0] }}</button></div>
	<div class="ui divider"></div>
{% endif %}

{% for _, other_user in data.users.items() %}
	{% if other_user != user and other_user.colour and other_user.session == session %}
		<div><button class="ui button" style="background-color: {{ other_user.colour[1] }}; width: 32px; height: 32px; padding: 0 0;">{{ other_user.colour[0] }}</button></div>
	{% endif %}
{% endfor %}
